html {
    background-color: rgb(13, 12, 68);
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(197, 226, 249);
    text-shadow: 2px 2px 4px rgba(72, 221, 241, 0.716), 0 0 10px rgba(168, 168, 232, 0.8);
}

body {
    display: block;
    text-align: center;
    margin: 0; /* Asegura que no haya márgenes inesperados */
}

.metodo1, .metodo2 {
    display: flex;
    margin: 0 auto;
    width: 80%; /* Porcentaje del ancho del contenedor */
    max-width: 500px; /* Ancho máximo */
    height: 100px;
    background-size: cover;
    border-radius: 13px;
    padding-top: 160px;
    padding-left: 30px; /* Usar px en minúsculas */
    background-position: center;
    color: rgb(0, 54, 99);
    text-shadow: 2px 2px 4px rgba(72, 221, 241, 0.716), 0 0 10px rgba(168, 168, 232, 0.8);
    font-size: 30px;
    align-items: center; /* Alinea el texto verticalmente */
    justify-content: center; /* Centra el texto horizontalmente */
}

/* Imágenes específicas */
.metodo1 {
    background-image: url(img/perdergrasa.jpg);
}

.metodo2 {
    background-image: url(img/abdminales.png);
}

/* Estilo para los enlaces dentro de los divs */
.metodo1 a, .metodo2 a {
    color: rgb(0, 54, 99);
    text-decoration: none; /* Quita el subrayado */
    font-size: inherit; /* Hereda el tamaño de fuente del div */
    text-shadow: inherit; /* Hereda el texto de sombra del div */
}

/* Ajustes para pantallas de hasta 768px de ancho */
@media (max-width: 768px) {
    .metodo1, .metodo2 {
        width: 90%; /* Ajusta el ancho en dispositivos móviles */
        padding-top: 120px; /* Ajusta el padding para que el contenido no se vea cortado */
        font-size: 24px; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    }
}
