html {
    background-image: url(img/fondoweb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(197, 226, 249);
    text-shadow: 2px 2px 4px rgba(72, 221, 241, 0.716), 0 0 10px rgba(168, 168, 232, 0.8);
}

body {
    display: block;
    text-align: center;
}

.metodo1, .metodo2 {
    display: flex;
    margin: 0 auto;
    width: 500px;
    height: 100px;
    background-size: cover;
    border-radius: 13px;
    padding-top: 160px;
    padding-left: 30px; 
    background-position: center;
    text-shadow: 6px 6px 9px rgba(72, 221, 241, 0.866), 0 0 20px rgba(168, 168, 232, 0.921);
    font-size: 25px;
}

.metodo1 {
    background-image: url(img/perdergrasa.jpg);
}

.metodo2 {
    background-image: url(img/abdominales.jpg);
}

/* Estilo para los enlaces dentro de los divs */
.metodo1 a, .metodo2 a {
    color: rgb(13, 13, 14);
    text-decoration: none; /* Quita el subrayado */
    font-size: inherit; /* Hereda el tamaño de fuente del div */
    text-shadow: inherit; /* Hereda el texto de sombra del div */
    display: flex; /* Permite centrar el texto verticalmente si se usa flex en el contenedor */
    align-items: center; /* Alinea el texto verticalmente */
    transition: color 0.3s ease, text-shadow 0.3s ease; /* Transición suave para color y sombra del texto */
}

.metodo1 a:hover, .metodo2 a:hover {
    color: rgb(0, 153, 255); /* Ajusta el color al que desees */
    text-shadow: 6px 6px 9px rgba(72, 221, 241, 0.866), 0 0 20px rgba(168, 168, 232, 0.921);
}

@media (max-width: 768px) { /* Ajustes para pantallas de hasta 768px de ancho */
    .metodo1, .metodo2 {
        width: 90%; /* Ajusta el ancho en dispositivos móviles */
        padding-top: 120px; /* Ajusta el padding para que el contenido no se vea cortado */
    }
}
